[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "simsurv"]
	path = simsurv
	url = https://github.com/sambrilleman/simsurv
	shallow = true
	registered = true
